body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.app-container {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.map-container {
  flex: 7 1 auto;
  background: red;
  height: 100vh;
}

.controls-container {
  flex: 3 1 auto;
  background: rgb(0, 13, 89);
}

#hamburger {
  position: absolute;
  display: none;
  right: 20px;
  top: 20px;
  z-index: 100;
}

.leaflet-container {
  height: 100%;
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  .leaflet-control-container {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .controls-container {
    position: absolute;
    z-index: 99;
    width: 100vh;
    height: 100vh;
    transition: transform 0.35s;
    transform: translateY(100%);
  }

  .controls-container.visible {
    position: absolute;
    transform: translateY(0%);
  }
}
