body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none !important;
}

.app-container {
  display: flex;
  overflow: hidden;
  width: 100vw;
  position: relative;
}

.map-container {
  flex: 7 0;
  height: 100%;
}

.controls-container {
  z-index: 90;
  flex: 3 0;
  display: flex;
  flex-direction: column;
  background: rgb(242, 242, 242);
  position: relative;
  overflow: hidden;
  overflow-y: scroll;

  margin: 0.5rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

.controls-container button {
  box-sizing: content-box;
  background: rgb(72, 145, 255);
  border: none;
  border-radius: 2px;
  color: white;
  padding: 0.3rem 1rem;
  margin: 0.3rem;
}

.controls-container button:hover {
  background: rgb(29, 29, 244);
}

.controls-section {
  padding: 0;
  margin: 0;
}

#hamburger {
  position: absolute;
  display: none;
  right: 1px;
  top: 1px;
  z-index: 100;
  background:rgb(72, 145, 255);
  border: none;
  border-radius: 7px;
  color: white;
  padding: 0rem 0.5rem;
}

.leaflet-container {
  height: 100%;
  z-index: 10;
  background: white;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 25%;
  background: rgb(242, 242, 242);
  border-radius: 8px;
  /* border: 1px solid rgb(132, 132, 132); */
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  z-index: 200;
  list-style: none;
}

.modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  /* backdrop-filter: blur(1px); */
  z-index: 199;
}

input::placeholder {
  color: black;
}

.modal-header {
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  /* background: #0091ad; */
  z-index: 20;
  /* border-radius: 8px; */
  overflow: hidden;
}

.modal-content {
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content form {
  width: 100%;
}

.modal-content p {
  margin: 0.5rem 0;
}

.modal-content label {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.modal-content input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  width: 100%;
  padding: 0.2rem;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  border: none;
  /* text-transform: uppercase; */
}
input[type="checkbox"] {
  width: auto;
  padding: 0;
}

/* .button-container {
  display: flex;
} */

.inspection-container {
  margin: 1rem 0;
}

.button-container button {
  margin-right: 1rem;
}

.inspection-card {
  margin: 1rem 0;
}

.extinguishers-list {
  padding: 1px;
}

.point {
  margin-bottom: 0.5rem;
}



li.matching {
  color: green;
}

li.selected {
  font-weight: bold;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  display: none;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #6d6d6d;
}

.title {
  font-size: 1.6rem;

  padding: 0.2rem 1rem;
  margin: 0;
  color: black;
}

.content {
  padding: 0.2rem;
}

.subtitle {
  font-size: 1.2rem;
  margin: 0.2rem 1rem ;
}


.list-item {
  margin: 0.2rem 0;
  font-size: 1rem;
  cursor: pointer;
  list-style: none;
}

.list-item:hover {
  background-color: #c5c5c5;
}

.controls-container .list-item {
  margin-left: 1rem;
}

ul {
  padding-left: 1rem;
  margin: 0;
}

.section-title {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 0px 8px;
  box-shadow: 0 4px 2px -2px rgb(0 0 0 / 30%);
}

.section-title button {
  align-self: center;
  font-weight: bold;
}

.section-title .expander {
  margin-right: 10px;
  margin-left: auto;
}

.my-div-icon {
  width: 2px;
  height: 2px;
}

.danger-info {
  color: rgb(206, 0, 62);
}

.leaflet-control-attribution {
  display: none;
}

.collapsed {
  display: none;
}

.margin {
  margin-bottom: 10px;
}

select:invalid {
  color: gray;
}


.search-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.search-container input,
.search-container select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  width: 100%;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  border: none;
  /* text-transform: uppercase; */
}

.modal input {
  margin: 0;
}

.modal button {
  box-sizing: content-box;
  background: rgb(72, 145, 255);
  border: none;
  border-radius: 2px;
  color: white;
  padding: 0.3rem 1rem;
  margin: 0.3rem;
}

.modal button:hover {
  background: rgb(29, 29, 244);
}


.point .search-container, ul {
  padding: 0;
}


@media only screen and (max-width: 600px) {
  .list-item:hover {
    background: transparent;
  }
  .leaflet-control-container {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .controls-container {
    position: absolute;
    z-index: 99;
    width: 100%;
    transform: translateY(100%);
    margin: 0;
    border-radius: 0;
    height: 100%;
  }

  .controls-container.visible {
    position: absolute;
    transform: translateY(0%);
  }

  .modal {
    width: 80%;
  }
}

button {
  cursor: pointer;
}

.warnings-and-dangers {
  margin-left: 1rem;
}